<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% include 'todrop.html' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'trials6.js' %}"></script>
    
    <title>Story 6</title> 
     <!-- navbar -->  
    {% include 'navbar.html' %}
</head>
<body>
    <div id="load_screen"></div>
    <div class="container" style="text-align: center">
        {% if user.is_authenticated %}
             <p>Hello, {{ user.username }}</p>
            <a href="{% url 'logout' %}">Logout</a>
        {% endif %}
        <h2>List of Books</h2>
        <h5>Favorite books: <p id="suka">{{ counter }}</p></h5>
        <div class="dropdown">
            <button class="btn btn-dangery dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pick a category
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a id = "/trials6/data/architecture/" class="smgt dropdown-item">Architecture</a>
                <a id = "/trials6/data/comic/" class="smgt dropdown-item">Comic</a>
                <a id = "/trials6/data/quilting/" class="smgt dropdown-item">Quilting</a>
            </div>
        </div>
        <br>
        <br>
        <table id = "table" class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Authors</th>
                    <th>Publisher</th>
                    <th>Add to Favorite</th>
                </tr>
            </thead>
            </div>
            <tbody id = "badanTable">
            </tbody>
        </table>
    </div>
</body>
</html> 

