<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% include 'todrop.html' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'trials6.js' %}"></script>
   <title>Story 6</title> 
    
     <!-- navbar -->  
    {% include 'navbar.html' %}
</head>
<body>
    <div id="load_screen"></div>
    <div class="container">
        <h1 align= 'center'> Hello, Apa kabar? </h1>
        <h6 align= 'center'> Web ini tidak akan ada tanpa bantuan Nathanael, Fadhlan Hafizh, dan Agnes Handoko </h6>
        <div class="form-group">
            <h2 align='center'>Write your status</h2>
            <form id="form" method="POST" action="{% url 'index' %}">
                {% csrf_token %}
                {{ savestatus }}
                <div class="submit-btn">
                    <input id="submit" type="submit" class="btn btn-dangery" value="Submit">
                </div>
            </form>
        </div>
    </div>

    <div class="container">
    <table class="table table-hover">
            <thead>
                <tr>
                    <th>Sender Name</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for i in table %}
                <tr>
                    <td> {{i.from_who}} </td>
                    <td> {{i.statuses}} </td>
                    <td> {{i.date_filled}} </td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
</div>
</body>
</html>