<!-- navbar -->  
<nav class="navbar navbar-expand-lg navbar-light fixed-top"">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/trials6/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/trials6/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/trials6/books">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/trials6/subscribe">Subscribe</a>
      </li>
      <li class="nav-item">
        <a id= "btnn" class="nav-link">Change Theme</a>
      </li>
    </ul>
  </div>
</nav>