<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% include 'todrop.html' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'trials6.js' %}"></script>
    
    <title>Story 6</title> 
     <!-- navbar -->  
    {% include 'navbar.html' %}
</head>
<body>
    <div id="load_screen"></div>
    <div class="container">
<div class="container">
    <div class="row">
        <div class="col">
        <!--gambarku-->
        <img class="img-thumbnail" src="https://i.imgur.com/3niKvAk.jpg" alt="picture of Puspa">
        </div>
        <div class="col">
        <!--namaku-->
        <div class="siapaaku container">
                <h2 class="namaku"><i>Puspacinantya</i></h2>
                <h6><i>A student of Computer Science</i></h6>      
        </div>
        <!--brief desc-->
        <div class="container">
            <p >I am Puspa, an aspiring UI student that currently pursue my major in information system. I have been extensively involved in my university community and i would love to develop my career in a bigger scale.</p>
            {% comment %} <button id = "subs" class = "btn btn-light" >Subscribe to this website!</button> {% endcomment %}
            <!-- Button trigger modal -->
            <button id = "subs" type="button" class="btn btn-light" style="background-color:#DED1D3">Subscribe to this website!</button>
        </div>
    </div>
    <div class="row">
            <div class="company">
                    <h6>Companies I've Worked With</h6>
                    <div class= "container">
                        <div class= "box">
                            <img src="https://i.imgur.com/5ALeYHu.jpg" class="rounded float-left" alt="laptop 1">
                        </div>
                        <div class= "box">
                                <img src="https://i.imgur.com/mVZmjsm.jpg" class="rounded mx-auto d-block" alt="laptop 2" >  
                        </div>
                        <div class= "box">
                                <img src="https://i.imgur.com/dUxXpBh.jpg" class="rounded float-right" alt="laptop 3">
                        </div>
                        <!--the accordion-->
                        <div class = slideacc>
                        <button class = "accordion btn btn-light" onclick="$(accz).slideDown(10000)">Activities</button>
                        <div class = panel>
                                <p> Study hard </p>
                                <p> Reading books</p>
                                <p> Scrolling through twitter</p>
                                <p> Definitely coding </p>
                        </div>
                        <button class = "accordion btn btn-light">Experiences</button>
                        <div class = panel>
                                <p> Data Entry Coordinator of AFS Selection Bina Antarbudaya Jakarta </p>
                                <p> Staff of Press COMPFEST x</p>
                                <p> Vice Liaison Officer of Wisuda Genap</p>
                                <p> Head of Entrepreneurial Division of DPM Fasilkom UI 2018</p>
                        </div>
                        <button class = "accordion btn btn-light">Achievements</button>
                        <div class = panel>
                            <p> Scholarship awardee of KL-YES program 2015 - 2016 to USA </p>
                            <p> Gold Honor Roll at Oakland Mills High School</p>
                            <p> Scholar athlete of tennis season at Oakland Mills High School</p>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
    </div>
    </div>
            </div>
</body>
</html> 