<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% include 'todrop.html' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'trials6.js' %}"></script>
    
    <title>Story 6</title> 
     <!-- navbar -->  
    {% include 'navbar.html' %}
</head>
<body>
    <div id="load_screen"></div>
    <div class="container">
        <div class="form-group">
            <h2 align='center'>Go subscribe!</h2>
            <h6 align='center'>I need to know who you are</h6>
            <div id="alertField"></div>
            <form style="text-align: left" id="form" method="POST" action="{% url 'registviews' %}">
                <div>
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.label_tag }} 
                        <br>
                        {{ field }}
                    {% endfor %}
                </div>
                <br>
                <br>
                <input id="submit" type="submit" class="btn btn-dangery" value="Submit">
            </form>
            <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
        </div>
        <table id = "tableSubs" class="table table-hover" style='text-align: center'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Unsubscribe :( </th>
                </tr>
            </thead>
            </div>
                <tbody id = "tableBody">
            </tbody>
        </table>   
    </div>
</body>
</html> 

