body {
    margin-top: 100px;
    padding: 0;
    background-color: white;
}

.navbar {
    list-style: none; 
    overflow: hidden;
    width: 100%;
    background-color: #DED1D3;
}
li {
    float: left;
}

.nav-item {
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

/* Change the link color to #F0EFEA on hover */
.nav-item a:hover {
    background-color: #F0EFEA;
    color: #D72C16;
}

a:link, a:visited{
    color: rgb(73, 40, 40);
}

.img-thumbnail {
    position: inherit;
    border-radius: 10%;
    border-color: #A10115;
    
}

.siapaaku {
    text-align: right;
}

.namaku {
    color: #A10115;
}

.briefdesc {
    text-align: right;
    display: inline-block;
    line-height: 0.5;
    letter-spacing: 0px;
    font-size: 13px;
    float: left;

}

.btn btn-dangery {
    background-color: #DED1D3;
    color: #A10115;
    border-radius: 30%;
    font-size: 13px;    
    text-align: center;
}

.company {
    margin-top: 20px;
    padding-left: 100px;
    text-align: center;
    object-fit: contain;
    font-style: italic;
    height: auto;
    color: #D72C16;
}

.mypro {
    text-align: left;
    object-fit: contain;
    margin-top: 20px;
    margin-left: 20px;
}

.pagename {
    font-style: italic;
    color: #D72C16;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.container {
    position: relative;
    text-align: right;
}

.container .box { 
    float: left;
    margin: 20px;
    left: 70px;
    overflow: hidden;
}

.rounded {
    display: inline;
    width: 284px;
    height: 188px;
}

.card-title {
    text-align: center;
    font-style: normal; 
    color: black;
}

.card-text {
    color: grey;
    text-align: justify;
}

.col-4 {
    margin-left: 100px;
    padding: 0;
    width: 28.75%;
}

.listoflink {
    margin-top: 20px;
    margin-left: 150px;
    color: black;
    line-height: 8px;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}   

.col {
    margin-left: 90px;
    text-align: center;
}

.conwri {
    text-align: justify;
}

.words {
    text-align: center;
    line-height: 8px;
    margin-top: 5px;

}

.logo {
    width: 60%;
    height: auto;
}

.form-group {
    margin-top: 20px; 
}

.submit-btn {
    margin-top: 20px;
    margin-left: 150px;
    margin-bottom: 50px;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    padding: 18px;
    width: 100%;
    cursor: pointer;
    padding: 0.5em;
    transition: 0.4s;
    text-align: left;
    outline: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    text-align: left;
    overflow: hidden;
    display: none;
}

#load_screen {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('http://www.mytreedb.com/uploads/mytreedb/loader/ajax_loader_gray_128.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: 1;
}
